.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 95px 50px 100px 50px;
}

.header_links-list {
  display: flex;
  gap: 25px;
  list-style: circle;
  font-size: 18px;
}

.header_links-list-item:hover {
  text-decoration: none;
  list-style: none;
}

.header_logo {
  display: block;
  width: 148px;
}

.address__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: end;
  max-width: 240px;
  max-height: 98px;
  font-size: 18px;
}

.main {
  position: relative;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 757px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.cover_title {
  display: flex;
  position: relative;
  z-index: 1;
  color: #FFFFFF;
  padding: 165px 50px 106px 50px;
}

.aligned-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  gap: 20px;
}

.aligned-text_left {
  align-items: start;
}

.aligned-text_center {
  align-items: center;
}

.aligned-text_right {
  align-items: end;
}

.cover_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 0 50px;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  color: #FFFFFF;
}

.cover_description_text {
  word-spacing: 0.9em;
  font-size: 22px;
  line-height: 28px;
}

.bet_button {
  padding: 12px 32px 12px 32px;
  background-color: transparent;
  box-sizing: border-box;
  min-width: 256px;
  min-height: 51px;
  border: 1px solid #FFFFFF;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
}

.aligned-text {
  text-transform: uppercase;
}

.lots {
  padding-top: 180px;
} 
  
.lots_heading {
  padding: 0 0 27px 40px;
  text-transform: uppercase;
}

.lots_card-list {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.lots_card-list-item { 
  width: 334px;
  min-height: 596px;
}

.card {
  height: 100%;
  display: flex;
}

.card_type_film {
  position: relative;
  height: 100%;
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: start;
}

.card_type_book {
  position: relative;
  height: 100%;
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: start;
}

.card_type_picture {
  position: relative;
  height: 100%;
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: start;
}

.card_title {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  padding: 48px 40px 0 48px;
  color: #FFFFFF;
}

.card_text {
  position: relative;
  z-index: 1;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  padding: 0 40px 48px 40px;
  color: #FFFFFF;
  
}

.lots_look-more-link {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: underline;
  padding: 30px 0 0 40px;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  padding-top: 120px;
  padding-bottom: 180px;
}

.about_column {
  justify-content: center;
  align-items: center;
}

.about_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_logo-image {
  width: 240px;
  height: 240px;
  background-image: url(../images/logo-white.svg);
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 148px 114px;
  border-radius: 50%;
}

.about_title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 100px 0 136px 0;
}

.about_text {
  display: flex;
  flex-direction: column;
  text-wrap: balance;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px 82px 50px;
}

.address__footer {
  display: flex;
  flex-direction: column;
  text-align: start;
  font-size: 18px;
}

.footer_menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 25px;
  font-size: 18px;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.footer__social-icon {
  max-width: 240px;
  max-height: 48px;
}