*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  list-style: none;
}

img {
  width: 100%;
}

button {
  font: inherit;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
  outline: none;
  appearance: none;
}

button:hover {
  transition: .8s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5)
}

ol {
  list-style: none;
}