.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  margin-top: 96px;
  margin-bottom: 92px;
}

.header__links-list {
  display: flex;
  gap: 33px;
  list-style: circle;
  font-size: 18px;
  line-height: 22px;
  padding-left: 50px;
}

.header__links-list-item:hover {
  text-decoration: none;
  list-style: none;
}

.header__logo {
  display: block;
  min-width: 135px;
  min-height: 106px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  max-width: 264px;
  font-size: 18px;
  line-height: 24px;
}

.header__address {
  justify-self: end;
  max-width: 240px;
  margin-right: 50px;
  padding-right: 25px;
}

.main {
  position: relative;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 1100px;
  min-height: 757px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.cover__title {
  display: flex;
  position: relative;
  z-index: 1;
  color: #FFFFFF;
  min-width: 1000px;
  min-height: 385px;
  padding: 165px 50px 106px 50px;
}

.aligned-text {
  display: flex;
  flex-direction: column;
  width: 103%;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  line-height: 115px;
  gap: 20px;
}

.aligned-text_left {
  align-items: start;
}

.aligned-text_center {
  align-items: center;
}

.aligned-text_right {
  align-items: end;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  color: #FFFFFF;
}

.cover__description_text {
  word-spacing: 0.85em;
  font-size: 22px;
  line-height: 28px;
}

.bet__button {
  padding: 12px 32px;
  background-color: transparent;
  box-sizing: border-box;
  border: 1px solid currentColor;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
}

.lots {
  margin-top: 180px;
} 
  
.lots__heading {
  padding: 0 0 27px 40px;
  text-transform: uppercase;
  font-size: 40px;
  margin-left: 20px;
}

.lots__card-list {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card {
  height: 100%;
  display: flex;
}

.card__content {
  position: relative;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: start;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title,
.card__text {
  position: relative;
  z-index: 1;
  line-height: 120%;
  color: #FFFFFF;
}

.card__title {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 22px;
  font-weight: 700;
  padding: 48px 40px 0 40px;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  padding: 0 40px 48px 40px;
}

.lots__look-more-link {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  text-decoration: underline;
  margin-top: 30px;
  margin-left: 63px;
}

.about {
  min-width: 1052px;
  display: grid;
  grid-template-columns: 334px auto;
  margin-top: 120px;
}

.about__column {
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.about__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 35px;
}

.about__logo-image {
  min-width: 240px;
  min-height: 240px;
  background-image: url(../images/logo-white.svg);
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 148px 114px;
  border-radius: 50%;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 136px 0 100px 0;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
  padding-right: 28px;
}

.footer {
  min-width: 1100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 180px;
  padding: 0 50px 85px 50px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 25px;
  font-size: 18px;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: right;
  min-width: 240px;
  gap: 48px;
}

.footer__social-icon {
  max-width: 240px;
  max-height: 48px;
}